@page
@model TutorZealand.Pages.Subjects.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Fag</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Velkommen til Zealands udvalgte fag</h1>
    </div>
</body>
</html>