@page
@model TutorZealand.Pages.Subjects.IndexModel
@{
   
}
<h2>Fag</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td>@subject.Id</td>
                <td>@subject.Name</td>
                <td>@subject.Description</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./CreateSubject" class="btn btn-primary">Create New Subject</a>