@page
@model AssistantTeacherApp.Pages.Subjects.IndexModel


<!DOCTYPE html>
<html>
    <head>
        <div class="text-center">
            <h1 class="display-4">Tutor Zealand</h1>
        </div>
    </head>
    
    <body>
        <div class="text-center">
            <p>
                Denne Applikation er for dig, som godt kunne tænke at fordybe sig på et bestemt fag eller emne
            </p>
            <h2 class="display-6">Velkommen til</h2>
        </div>
    </body>
</html>